# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
.turbo/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage/

# Prisma
apps/api/prisma/*.db

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.packages
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
